<div class="footer" data-hagrid="grid-container">
	<div class="footer-contents" data-hagrid="grid-row">
		<div data-hagrid="span-50">
			<p> Created by Bradley Stafford </p>
		</div>
		<div data-hagrid="span-50">
			<p> Built with Assemble, Grunt, Node (you don't care!) </p>
		</div>
	</div>

</div>