<div class="footer" data-hagrid="grid-container">
	<div class="footer-contents" data-hagrid="grid-row">
    <h1 class="built-by" data-hagrid="span-100">
      Created by
      <a href="http://bradleystafford.com">
        Bradley Stafford
      </a>
      <a href="http://twitter.com/developerburdle">(@developerburdle)</a>
    </h1>
	</div>

</div>
