<div class="navbar">
		<div class="navbar-contents">
			<h1 class="header">{{name}}</h1>
			<nav class="navigation">
					<ul class="navigation-items">
						<li class="navigation-item"><a href="/">Home</a></li>
						<li class="navigation-item"><a href="/examples">Examples</a></li>
						<li class="navigation-item"><a href="/about">About</a></li>
					</ul>
			</nav>
		</div>
</div>	