
  <div class="header">
    <h1>{{index.name}}</h1>
  </div>

    <p> 
   	 {{index.text}}
    </p>

    <p>
     {{{index.prompt}}}
    </p>

    <div class="grid content" data-hagrid="grid-container">

      <!-- Full size --> 
      <div class="collection" data-hagrid="grid-row">
        <div class="example-block" data-hagrid="span-100">
          
        </div>
      </div>

   
      <div class="collection" data-hagrid="grid-row">

        <div data-hagrid="span-10">
          <div class="example-block">
          
          </div>
        </div>
        <div data-hagrid="span-90">
          <div class="example-block">
          
          </div>
        </div>
      </div>


      <div class="collection" data-hagrid="grid-row">
        <div data-hagrid="span-20">
          <div class="example-block">
          
          </div>
        </div>
        <div data-hagrid="span-80">
          <div class="example-block">
          
          </div>
        </div>
      </div>

      <div class="collection" data-hagrid="grid-row">
         <div data-hagrid="span-30">
          <div class="example-block">
              
          </div>
        </div>
        <div data-hagrid="span-70">
          <div class="example-block">
          
          </div>
        </div>
      </div>

      <div class="collection" data-hagrid="grid-row">
         <div data-hagrid="span-40">
          <div class="example-block">
              
          </div>
        </div>
        <div data-hagrid="span-60">
          <div class="example-block">
          
          </div>
        </div>
      </div>

      <div class="collection" data-hagrid="grid-row">
         <div data-hagrid="span-50">
          <div class="example-block">
              
          </div>
        </div>
        <div data-hagrid="span-50">
          <div class="example-block">
          
          </div>
        </div>
      </div>

      <div class="collection" data-hagrid="grid-row">


        <div data-hagrid="span-33">
          <!-- Nested grid collection -->
          <div class="collection" data-hagrid="grid-row">
            <div data-hagrid="span-33">
              <div class="example-block">
                
              </div>
            </div>
            <div data-hagrid="span-33">
              <div class="example-block">
                
              </div>
            </div>
            <div data-hagrid="span-33">
              <div class="example-block">

              </div>
            </div>
          </div>
        </div>
        

        <div data-hagrid="span-33">
          <div class="example-block">
              
          </div>
        </div>

        <div data-hagrid="span-33">
          <div class="example-block">
          
          </div>
        </div>

     </div>


      <div class="collection" data-hagrid="grid-row">

        <div data-hagrid="span-66">
          <div class="example-block">
              
          </div>
        </div>
        <div data-hagrid="span-33">
          <div class="example-block">
          
          </div>
        </div>
      
      </div>



    </div>
  </body>
</html>