<h2>Blog with a sidebar</h2>
<div class="example content" data-hagrid="grid-container">
    <!-- Rows -->
    <div class="collection" data-hagrid="grid-row">
        <!-- Columns/spans -->
        {{>hagrid-span-block hagrid="span-20"}}
        {{>hagrid-span-block hagrid="span-80"}}
    </div>
</div>

<h2>Fourths</h2>
<div class="example content" data-hagrid="grid-container">
    <!-- Rows -->
    <div class="collection" data-hagrid="grid-row">
        <!-- Columns/spans -->
    </div>
 
    <div class="collection" data-hagrid="grid-row">
        <!-- Columns/spans -->
    </div>

    <div class="collection" data-hagrid="grid-row">
        <!-- Columns/spans -->
    </div>
</div>


