<p> 
    Okay, there are three main hagrid attributes you'll need for building grids: 
</p>

{{#markdown}}
     data-hagrid="grid-container" 
     data-hagrid="grid-row" 
     data-hagrid="span-X" 
{{/markdown}}

<p> Here's how you set it up: </p>

{{#markdown}}
    <div class="example content" data-hagrid="grid-container">
        <!-- Rows -->
    </div>
{{/markdown}}

<p>
  As you can see, the beginnings of our grid are made with data attributes, from here we can add rows to our container. A grid container may contain any number of grid rows.
</p>

{{#markdown}}
    <div class="example content" data-hagrid="grid-container">
        <!-- Rows -->
        <div class="collection" data-hagrid="grid-row">
            <!-- Columns/spans -->
        </div>
     
        <div class="collection" data-hagrid="grid-row">
            <!-- Columns/spans -->
        </div>

        <div class="collection" data-hagrid="grid-row">
            <!-- Columns/spans -->
        </div>
    </div>
{{/markdown}}

<p>
  Let's throw down the data attributes to make columns!
</p>


{{#markdown}}
    <div class="example content" data-hagrid="grid-container">
        <!-- Rows -->
        <div class="collection" data-hagrid="grid-row">
            <!-- Columns/spans -->
            {{> hagrid-span-block hagrid="span-25"}}
            {{> hagrid-span-block hagrid="span-75"}}
        </div>
     
        <div class="collection" data-hagrid="grid-row">
            <!-- Columns/spans -->
            {{> hagrid-span-block hagrid="span-75"}}
            {{> hagrid-span-block hagrid="span-25"}}
            
        </div>

        <div class="collection" data-hagrid="grid-row">
            <!-- Columns/spans -->
            {{> hagrid-span-block hagrid="span-50"}}
            {{> hagrid-span-block hagrid="span-50"}}
        </div>
    </div>
{{/markdown}}

<p> And if we put that syntax on a page, it looks like this: </p>

<div class="example content" data-hagrid="grid-container">
    <!-- Rows -->
    <div class="collection" data-hagrid="grid-row">
        <!-- Columns/spans -->
        {{> hagrid-span-block hagrid="span-25"}}
        {{> hagrid-span-block hagrid="span-75"}}
    </div>
 
    <div class="collection" data-hagrid="grid-row">
        <!-- Columns/spans -->
        {{> hagrid-span-block hagrid="span-75"}}
        {{> hagrid-span-block hagrid="span-25"}}
    </div>

    <div class="collection" data-hagrid="grid-row">
        <!-- Columns/spans -->
        {{> hagrid-span-block hagrid="span-50"}}
        {{> hagrid-span-block hagrid="span-50"}}
    </div>
</div>